{% extends 'admin/change_form.html' %}
{% load static %}
{% block submit_buttons_bottom %}
{% if status != 'killed' %}
<div class="submit-row">
	<input type="submit" class="default" value="Kill this instance" name="_kill-instance"
	       style="color:white;background-color: crimson;width: 100%">
</div>
{% endif %}
{{ block.super }}
<SCRIPT type=text/javascript>
    var current_status = '{{ status }}';
    var object_pk = '{{ original.pk }}';
    (function (jq) {
        function updater() {
            var update = function () {
                jq.get({
                    url: '/cloudconfig/get_status/' + object_pk,
                    success: function (data) {
                        if (data == 'starting') {
						                refInterval = window.setTimeout(update, 5000);
						            } else if (data == 'killing') {
						                refInterval = window.setTimeout(update, 5000);
						            }
						            else {
						                refInterval = null;
						                window.location.replace('/cloudconfig/launchhistory/' + object_pk);
						            }
                    }
                })
            };
            if (current_status == 'starting') {
                update();
            } else if (current_status == 'killing') {
                update();
            }
        }
        updater();
    })(django.jQuery);
</SCRIPT>
{% endblock %}